{% extends 'base.html' %}
{% block content %}

<head>
    <title>Seleccionar Usuario para Subcircuito</title>
</head>
<body>
    <h1>Asignar Usuarios a Subcircuitos</h1>

    <table>
        <tr>
            <th>Nombres</th>
            <th>Apellidos</th>
            <th>Acciones</th>
        </tr>
        {% for usuario in usuarios %}
        <tr>
            <td>{{ usuario.nombres }}</td>
            <td>{{ usuario.apellidos }}</td>
            <td>
                <a href="{% url 'asignar_subcircuitos' usuario_id=usuario.id %}">Asignar a Subcircuito</a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="3">No se encontraron usuarios policiales.</td>
        </tr>
        {% endfor %}
    </table>

    <a href="{% url 'inicio' %}">Volver al inicio</a>
</body>
{% endblock %}